.imagenBannerPrincipal
  animation: float1 2.5s ease-in-out infinite alternate
  position: absolute
  top: 40%
  right: 50%

.banner-principal__row .banner-principal__img
  padding-right: 3rem !important
  animation: scale 3.8s ease-in-out infinite alternate


@keyframes scale
  0%
    transform: scale(1)

  80%
    transform: scale(1.1)